<footer class="bg-dark text-center text-lg-start text-white">
  <!-- Grid container -->
  <div class="container p-4">
    <!--Grid row-->
    <!-- <div class="row"> -->
      <!--Grid column-->
      <div class=" mb-4 mb-md-0 ">
        <h5 class="text-uppercase">Trăng Tàn Studio</h5>

        <p>
          Chỉ khi ôm trọn lấy bóng đêm thì ánh trăng mới có thể tỏa sáng rực rỡ.<br>
            Và ánh trăng đó dù có mờ nhạt đến đâu, cũng sẽ trở thành hi vọng để loài người trông chờ tới một hoàng hôn rực rỡ. <br>
        </p>
      </div>
      <!--Grid column-->

      <!--Grid column-->
      <!-- <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Footer text</h5>

        <p>
          Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis
          molestias. Fugiat pariatur maxime quis culpa corporis vitae repudiandae
          aliquam voluptatem veniam, est atque cumque eum delectus sint!
        </p>
      </div>
      Grid column -->
    <!-- </div> -->
    <!--Grid row-->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright:
    <a class="text-danger" href="https://mdbootstrap.com/">ThaiDucAnh</a>
  </div>
  <!-- Copyright -->
</footer>