<!-- Load bootstrap -->

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/navbar.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" href="/">TTStudio</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-content">
      <span class="navbar-toggler-icon"></span>
    </button>
  
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="navbar-content">
        <ul class="nav navbar-nav">
          <li class="nav-item"><a class="nav-link" href="/news/1">News</a></li>
          <li class="nav-item"><a class="nav-link" href="/#story">Story</a></li>
          <li class="nav-item"><a class="nav-link" href="/product">Product</a></li>
          <li class="nav-item"><a class="nav-link" href="/#staff">Staff</a></li>
          <li class="nav-item"><a class="nav-link" href="/#about">About</a></li>
        </ul>
        <ul class="nav navbar-nav ml-sm-auto">
          <%
            if(!user) { %>
          <li class="nav-item"><a class ="nav-link" href="/login" style="font-weight: bold; color: #fff;">Login <i class="fa fa-sign-in" aria-hidden="true"></i></a></li>
          <%} else { %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle userDisplay" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-weight: bold; color: #fff;">
                  <%= user.userInfo.displayName %>
                </a>
                <div class="dropdown-menu dropdown-menu-lg-right" aria-labelledby="navbarDropdownMenuLink">
                  <a class="dropdown-item align-content-lg-center" href="/user/<%= user.username %>">Profile</a>
                  <%if (user.userInfo.permissionLevel > 1){ %>
                  <a class="dropdown-item align-content-lg-center" href="/new_article">New Article</a>
                  <% }%>
                  <a class="dropdown-item align-content-lg-center" href="/logout">Logout <i class="fa fa-sign-out" style="margin-left: 4px;" aria-hidden="true"></i></a>
                </div>
            </li>

          <% } %>

        </ul>

      </div>
  </nav>