
body{
    background-image: url("background1.jpg");
    background-repeat: no-repeat;
    background-size: cover;

}

h1{
   text-align: center; 
    padding: 20px;
    color:rgb(45, 211, 233);
}

a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
  }
  
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
  
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  }