<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card input</title>
    <link rel="stylesheet" href="/css/card_input.css">
</head>
<body>
      <div id="header">
       <%- include('./partials/navbar.ejs') %>
   </div> 
   <div id="main">
        <div id="left-content"></div>
        <div id="main-content">
            <h1>CARD INPUT</h1>
            <div class="form">
                <form class = "form" action="" method="POST">
                    <label for="name">Name: </label>
                    <input type="text" name="name" id="name"><br>
                    <label for="cost">Cost: </label>
                    <input type="number" name="cost" id="cost" min ="0"><br>
                    <label for="rank">Rank: </label>
                    <input type="number" name="rank" min="1" max = "3"><br>
                    <label for="description">Descrition: </label>
                    <input type="text" name="description"><br>
                    <label for="name">Image: </label>
                    <input type="file" name="image" id="" accept=".jpg, .png"><br>
                    <input type="submit" value="Accept"><br>
                </form>
            </div>
            
        </div>
        <div id="right-content"></div>
   </div>
   <div id="footer">
       <%- include('./partials/footer.ejs') %>
   </div>
</body>
</html>