<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product</title>
    <link rel="stylesheet" href="/css/product.css">
    <link rel="stylesheet" href="/fonts/themify-icons/themify-icons.css">
</head>
<body>
    <div id="main">
        <div id="header">
            <%- include('./partials/navbar.ejs') %>
        </div>

        <div class="container-fluid">
            <h1 id="product-title">Product</h3>
            <div class="row">
                <div class="col" style = background:linear-gradient(120DEG,#FFFFFF,#000080)>Playstation</div>
                <div class="col" style = background:linear-gradient(120DEG,#00ADEE,#000000)>Steam</div>
                <div class="col" style = background:linear-gradient(120DEG,#52b043,#FFFFFF)>Xbox</div>
            </div>
        </div>

        <div id="footer">
            <%- include("./partials/footer.ejs")%>
        </div>
    </div>
</body>
</html>