#header {
    margin-bottom: 70px;
}
#main {
    display: flex;   
    min-height: 700px;
}

#left-content{
    flex: 1.3;
}

#right-content {
    flex: 1.3;
}

#main-content {
    flex: 1;
    display: flex;
    padding-top: 80px;
}

#main-content > h1 {
    text-align: center;
}

#main-content > .form {
    align-self: center;
}

.form > label {
    min-width: 100px;
}
