.userDisplay{
    margin-right: 5px;
}
.dropdown{
    z-index: 10;
}
.main-nav {
    height: 46px;
    background-color: #000;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
  }